.leftMenu{
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0px;
    top: 1px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}
img{
    
    width: 75px;
}
.robotIcon{
    display: flex;
    justify-content:  center;
    padding: 30%;
}
.linksArea{
    display: flex;
    flex-direction: row;
   margin-top: 10%;
    align-items: center;
    margin-left: 8%;
}
.responsiveMenu{
    width: 100%;
    background: #BE9063;
   
    z-index: 5;
}
.responsiveMenu button{
    cursor: pointer;
    background: transparent;
    color: black;
    border: none;   
}
.hamburguerButtonClicked{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-right: 20%;
    left: 0px;
    top: 1px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    transition:  .4s;

  
    
}
.hamburguerButtonClicked button{
    display: flex;
    justify-content: end;

  
    
}
.responsiveMenuClicked a{
    margin-left: 55px;
}
.linksArea svg{

}
.linksArea a{
   margin-left: 5%;
        text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 62px;
}
@media(max-width:688px){
   .leftMenu{
     display: none !important;
   }
}
@media(max-width:437px){
    
    .robotIcon{
        margin-bottom: 25%;
    }
    img{
        width: 45px;
    }
    .linksArea{
       margin-top: 35%;
       
    }
    .linksArea svg{
        width: 35px !important;
    }
    .linksArea a{
       margin-left: 3%;
    
        font-size: 18px;
        line-height: 25px;
    }
}